@import '../../style/variables.scss';

.char {
    &__modal.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__modal {
        position: fixed;
        width: 600px;
        height: 300px;
        border-radius: 16px;
        top: 20%;
        bottom: 0;
        right: 0;
        left: 34.5%;
        z-index: 999;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        &_content {
            display: flex;
            gap: 1em;
            padding: 0;
            background-color: rgba(65, 239, 252, 0.8);
            border-radius: 16px;
            width: 600px;
            height: 300px; 
            overflow: hidden;
        }
        &_desc {
            display: flex;
            flex-direction: column;
            gap: 1em;
            flex-wrap: wrap ;
        }
        &_title {
            font-size: 1em;
            color: #707d9d;
        }
        &_text {
            font-size: 0.7em;
        }
        &_img {

        }
    }
}
