@import '../../style/variables.scss';

html {
    scroll-behavior: smooth;
}

.char {
    &__list {
        color: $main-color;
        margin-top: 5em;
        &_click {
            margin-top: 3em;
            display: flex;
            justify-content: space-around;
        }
    }
    &__grid {
        list-style: circle;
        display: grid;
        grid-template-columns: repeat(4, 230px);
        justify-content: space-between;
        row-gap: 3em;
        list-style: none;
    }
    &__item {
        position: relative;
        width: 230px;
        height: 250px;
        background-color: #317ac7;
        border-radius: 1em;
    }
    &__block {
        position: relative;
        cursor: pointer;
    }
    &__img {
        position: absolute;
        object-fit: contain;
        width: 190px;
        height: 190px;
        border-radius: 1em;
        left: 1.3em;
        top: -1.5em;
        filter: drop-shadow(0 0 1em $second-color);
    }
    &__name {
        position: relative;
        font-size: 1.3em;
        font-weight: bold;
        text-align: center;
        margin-top: 9em;
    }
}

@media screen and (max-width: 970px) {
    .char {
        &__grid {
            grid-template-columns: repeat(3, 230px);
            justify-content: space-around;
        }
    }
}

@media screen and (max-width: 730px) {
    .char {
        &__grid {
            grid-template-columns: repeat(2, 230px);
            justify-content: space-around;
        }
    }
}

@media screen and (max-width: 500px) {
    .char {
        &__grid {
            grid-template-columns: 230px;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 405px) {
    .char__list {    
        &_click {
            display: flex;
            gap: 2em;
            flex-direction: column;
            align-items: center;
            margin-top: 1em;
        }   
    }  
}