@import '../style/variables.scss';

.char__list {
    &_btn {
        width: 120px;
        height: 30px;
        text-transform: uppercase;
        background: linear-gradient(to right, #2AF598, #009EFD);
        border: transparent;
        border-radius: 8px;
        color: #707d9d;
        font-weight: 500;
        margin-bottom: 10em;
        cursor: pointer;
    }
}

@media screen and (max-width: 405px) {
.char__list {
    &_btn {
        margin-bottom: 0em;
        }
    &_scroll {
        margin-bottom: 10em;
        }
    }
}