@import '../../style/variables.scss';

.app {
    &__header {
        padding: 0 1em 0 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        width: 120px;
        height: 120px;
        border-radius: 1em;
        background: url(../../resources/image/ramlogo.jpg) center/cover;
    }
    &__title {
        font-size: 3em;
        text-align: right;
        color: $second-color;
        span {
            color: $main-color;
        }
    }
}

@media screen and (max-width: 870px) {
    .app {
        &__title {
            font-size: 2em;
        }
    }
}

@media screen and (max-width: 640px) {
    .app {
        &__title {
            font-size: 1.5em;
        }
    }
}

@media screen and (max-width: 530px) {
.app {
    &__title {
        font-size: 1.5em;
        text-align: center;
    }
  }
}

@media screen and (max-width: 470px) {
    .app{
        &__logo {
            display: none;
        }
        &__title {
            padding-left: 1em;
        }
    }
}